body {
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('fonts/bebas-webfont.woff');
}

.main-nav-background {
  background-color: #2F4B66;
  height: 60px;
}

.main-nav {
  width: 980px;
  text-align: right;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 100px;
  margin-top: 13px;
}

.main-nav-links {
  line-height: 60px;
}

.header-footer-link {
  font-family: BebasNeue,  sans-serif;
  font-size: 1.4em;
  color: #F6EED7;
}

.main-nav-link {
  text-transform: uppercase;
  margin-left: 25px;
}

.main-nav-link:first-child {
  margin-left: 0;
}

.language-link {
  margin-left: 66px;
}


/*sub header style*/
.sub-header-background {
  background-color: #F6EED7;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
}

.sub-header {
  width: 980px;
  margin: 0 auto;
}

.sub-header-links {
  float: left;
}

.sub-header-link {
  color: #845741;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
  margin-left: 28px;
}

.sub-header-link:first-child {
  margin-left: 0;
}

.register-link {
  margin-left: 16px;
}

.search-signup-login {
  float: right;
}

.search-bar {
  width: 256px;
  height: 26px;
  padding: 4px;
  background-color: #DDD6C3;
  color: #845741;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #845741;
}
